<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<page-router-outlet></page-router-outlet>
<ContentView height="100%" width="100%">
    <Mapbox
        #map
        accessToken="pk.eyJ1IjoibXBldHRtYXJ0aW4iLCJhIjoiY2p4MXRwd3QwMGNqeTQ5cDlsa20zODFpNyJ9.v0j-sy5Bpe2Chj25HSy3LQ"
        mapStyle="traffic_day"
        latitude="37.7397"
        longitude="-121.4252"
        hideCompass="true"
        zoomLevel="12"
        showUserLocation="false"
        disableZoom="false"
        disableRotation="false"
        disableScroll="false"
        disableTilt="false"
        (mapReady)="onMapReady($event)">
    </Mapbox>
</ContentView>
